body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
h1{
border-bottom: 1px solid #d0d0d0;}

figcaption{display:none;}
.my-gallery{
	clear:both;
}
.my-gallery a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    display: block;
    float: left;
    line-height: 0;
    border: 1px solid #e9e8e8;
    margin: 3px;
}

.work h3,h4{
	clear: both;
    padding-top: 20px;
}

a:focus, a:hover {
    color: #014c8c;
    text-decoration: none;
}