body{
        background: #b3b3b0;
    background: -webkit-linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);
    background: linear-gradient(top, #b3b3b0 0%,#e3e2dd 500px);
    background-color: #e3e2dd;
    background-repeat: no-repeat;
}

.panel{
    border:1px solid lightgray;
}

.moviePosterThumb{
    max-height:100px;
}

.green{
    color:green;
}


.bad{
    color:red;
}